
@font-face {
    font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;

  }
  
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #FFFFFF;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page-header {
    color: #000000;
    background: #FFE17F;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation {
    display: flex;
    width: 1160px;
    margin: 0 auto;
  }

  .navigation-link {
    max-width: 1300px;
    margin-left: auto;
  
  }

  .navigation-list {
    display: flex;
    list-style-type: none;
  
  }

  .navigation-user {
    width: 1343px;
    margin: 0;
    list-style-type: none;
    display: flex;
    padding: 48px 25px;
  }

  .navigation-link {
    display: block;
    padding: 19px 62px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    
  }

  .main-container {
    flex-grow: 1;
  }

  .page-container {
    width: 1161px;
    margin: 0 auto;
  }

  .gallery-slide {
    display: flex;
    justify-content: space-between;
  }

  .description-slider {
    width: 560px;
  }

  .slider-image {
    width: 560px;
  }

  .slider-pagination {
    width: 560px;
  }

  .category-list {
    display: flex;
  justify-content: space-between;
  margin: 0;
  padding: left;
  list-style-type: none;
  }

  .category-item {
    width: 160px;
  }

  .container-services {
    width: 1440px;
    margin: 0 auto;
  }

  .info {
    display: flex;
    width: 1160px;
    margin: 0 auto;
  
  }

  .about-and-contacts {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 1160px;
    margin: 0 auto;
  
  }

  .about {
    margin: 0;
    padding: 0;
    width: 560px;
  }

  .contacts {
    margin: 0;
    padding: 0;
    width: 560px;
  }

  .page-newsletter {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    background-color: #F0F0F0;
  }

  .navigation-link-user {
    display: block;
    flex-wrap: wrap; 
    padding: 25px 14px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
    font-weight: normal;
  }

h3 {

    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.page-footer {
    color: #FFFFFF;
    background: #444444;
}


.newsletter {
    color: #000000;
}

.button-newsletter {
  background: #F0F0F0;
  font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
   

.delivery{
    color: #000000;
    background: #F0F0F0;
}

.category-link {
    font-family: "Raleway", sans-serif;
 font-style: normal;
 text-decoration: none;
 font-weight: 800;
 font-size: 18px;
 line-height: 24px;
 letter-spacing: -0.02em;
 color: #000000;
}

.category-Rectangle {
    background: #FFE17F;
    width: 160px;
    height: 160px;
    display: block;
}

.button {
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    color: #FFFFFF;
    background-color: #FFE17F;
    text-decoration: none;
    text-transform: uppercase;
  }

  
  .contacts-address {
    font-style: normal;
  }
  
  
  /* Phone */
  .contacts-phone {
    font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
text-decoration-line: underline;
color: #444444;
  }
  
  
  .contacts-address {
    font-style: normal;
  }

  .footer-contacts-address-phone {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .footer-navigation {
    display: flex;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    list-style-type: none;
  }

  .inner-header-title {
      
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 50px;
color: #000000;
  }

.breadcrumbs-link {
    font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #000000;
opacity: 0.6;
text-decoration: none;
}

h2 {
    font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background: #DCDCDC;
}

.catalog-filter-group {
    background: #E5E5E5;
}

.control-label {
    font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #000000;

}

.product-card-title {
    font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.02em;
color: #000000;
text-decoration: none;

}

.back-forward {
    font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;

}

.pagination-link{
font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #444444;
opacity: 0.3;
text-decoration: none;
}

.button-pagination-show-more {
    font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
}

.catalog-title {
    font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
letter-spacing: -0.02em;
color: #000000;
}

.sorting {
    font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;

}

.sorting-type {
    background: #EBEBEB;
}

.page-footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.footer-contacts {
  width: 238px;
  margin-right: 114px;
}

.list {
  margin-bottom: auto;
  width: 448px;
}

.footer-social {
  margin-left: auto;
  max-width: 293px;
}

.catalog-products {
  display: flex;
}

.catalog-filter {
  width: 200px;
  margin-right: 68px;
}

.catalog-right-column {
  width: 760px;
}

.services {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.services-list {
  padding-left: 0;
  list-style-type: none;
  width: 280px;
}

.button-info {
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 100%;
  background: #F0F0F0;

}

.about-and-contacts p, .contacts-schedule {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
}

.contacts-schedule {
  list-style-type: none;
  padding-left: 0;
}

p {
  font-family: "Rubik";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #444444;

}

.newsletter {
  margin: 0;
    padding: 0;
    width: 560px;
}

.about-text {
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}