
@font-face {
    font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;

  }
  
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #FFFFFF;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .navigation-logo {
    margin-bottom: 35px;
    display: block;
  }

  .page-header {
    color: #000000;
    background: #FFE17F;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    padding-bottom: 152px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }

  .navigation {
    margin: 0 auto;
  }


  .navigation-link {
    max-width: 1300px;
    margin-left: auto;
  
  }

  .navigation-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  
  }

  .navigation-catalog {
    width: 50%;
  }

  .navigation-user {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 30px;
    margin-top: 0;
    
  }

  .navigation-login {
    width: 25%;
  }

  .navigation-search {
    width: 50%;
  }
  
  .navigation-delivery {
    margin-right: 19px;
  }

  .navigation-garant {
    margin-right: 62px;
  }

  .navigation-compare {
    margin-right: 14px;
  }

  .navigation-delivery-garant-contacts {
      margin-left: 245px;
  }

  .navigation-link {
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    
  }


  .menu-catalog {
    list-style-type: none;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
  }

  .main-container {
    flex-grow: 1;
  }

  .page-container {
    width: 1161px;
    margin: 0 auto;
  }
  

  .gallery-slide {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .gallery-slide:last-child {
    margin-bottom: 0;
  }
  
  .gallery {
    margin-top: -100px;
  }

  .description-slider {
    width: 560px;
  }

  .slider-image {
    width: 560px;
  }

  .slider-pagination {
    width: 560px;
  }

  /*category*/
  .category {
    margin-bottom: 69px;
    padding-top: 70px;
  }

  .category-list {
    display: flex;
  justify-content: space-between;
  margin: 0;
  list-style-type: none;
  }

  .category-item {
    width: 160px;
  }

  .category-link {
    font-family: "Raleway", sans-serif;
 font-style: normal;
 text-decoration: none;
 font-weight: 800;
 font-size: 18px;
 line-height: 24px;
 letter-spacing: -0.02em;
 color: #000000;
}

.category-Rectangle {
    background: #FFE17F;
    width: 160px;
    height: 160px;
    display: block;
    margin-top: 0;
 margin-bottom: 33px;
}

.category-name {
  margin: 0;
}

  .container-services {
    margin: 0 auto;
    background-color: #F0F0F0;
    
  }

  .info {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding-top: 90px;
    height: 100px;
  
  }

  .about-and-contacts {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 1160px;
    margin: 0 auto;
  
  }

  .about {
    margin: 0;
    padding-top: 95px;
    margin-right: 40px;
    width: 560px;
    margin-bottom: 85px;
  }

  .contacts {
    margin: 0;
    padding-top: 95px;
    width: 560px;
    margin-bottom: 85px;
  }

  .page-newsletter {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
  }

  .newsletter-title {
    padding-right: 15%;
    box-sizing: border-box;
    width: 50%;
  }

  .newsletter-text {
    width: 50%;
  }

  .newsletter-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navigation-link-user {
    display: block;
    flex-wrap: wrap; 
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    
    
  }

  .navigation-link-user .navigation-link {
    min-width: 13px;
    min-height: 12px;
  }

h3 {

    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.page-footer {
    color: #FFFFFF;
    background: #444444;
}


.newsletter {
    color: #000000;
}

.button-newsletter {
  background: #F0F0F0;
  font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
   
.newsletter-form-name {
  margin-top: 0;
  margin-bottom: 0;
}

.free {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter-form-container {
  width: 50%;
  display: flex;
}



.delivery{
    color: #000000;
}


.button {
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    color: #FFFFFF;
    background-color: #FFE17F;
    text-decoration: none;
    text-transform: uppercase;
  }

  
  .contacts-address {
    font-style: normal;
  }
  
  
  /* Phone */
  .contacts-phone {
    font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
text-decoration-line: underline;
color: #444444;
  }
  
  
  .contacts-address {
    font-style: normal;
  }

  .footer-contacts-address-phone {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration: none;
  }

  .logo-htmlacademy {
    margin-top: 50px;
    padding-right: 140px;
  }

  .footer-logo {
    margin-bottom: 35px;
  }
  
  .footer-navigation {
    display: flex;
    margin: 10px;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    list-style-type: none;
  }


  .inner-header-title {
      
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 50px;
color: #000000;
margin-top: 0;
  margin-bottom: 14px; 
  }

.breadcrumbs-link {
    font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #000000;
opacity: 0.6;
text-decoration: none;
margin-right: 35px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0; 
  list-style-type: none;
}

h2 {
    font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background: #DCDCDC;
}

.catalog-filter-group {
    background: #E5E5E5;
}

.control-label {
    font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #000000;

}

.container-newsletter {
  background-color: #F0F0F0;
  padding-bottom: 130px;
}

.product-card-title {
    font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.02em;
color: #000000;
text-decoration: none;
margin-top: 33px;
width: 280px;
}


.back-forward {
    font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;

}

.pagination-link{
font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #444444;
opacity: 0.3;
text-decoration: none;
}

.button-pagination-show-more {
    font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
margin-left: 72px;
}

.catalog-title {
    font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
letter-spacing: -0.02em;
color: #000000;
}

.sorting {
    font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;

}

.select-control {
  margin-bottom: 25px;
margin-top: 25px;
}

.sorting-type {
  width: 100%;
    height: 70px;
}

.sorting-container {
  background: #EBEBEB;
  width: 100%;
  display: flex;
  margin-bottom: 70px; 
  padding-left: 72px;
  box-sizing: border-box;
}

.sorting-container .button-arrow {
  width: 11px;
  height: 10px;
}



.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 62px;
}

.footer-contacts {
  width: 240px;
  margin-right: 114px;
}

.list {
  width: 448px;
}

.footer-social {
  max-width: 293px;
}

.footer-line {
  width: 80px;
  height: 7px;
  display: block;
  background-color: #ffc700;
   margin-top: 66px;
}

.footer-navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-navigation-user:nth-child(3n) {
  margin-right: 0;
}

.catalog-products {
  margin-top: 50px;
  display: flex;
  
}

.filter-title {
  height: 70px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px); 
  list-style-type: none;
  margin: 0;
  margin-left: 72px;
  margin-bottom: 44px;
  padding: 0;
  gap: 40px; 
}

.product-card {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
}

.product-card-link {
  text-decoration: none;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: right;
color: #444444;
margin-top: 33px;
margin-left: auto;
}

.product-card-button {
  display: none;
}

.catalog-filter {
  margin-top: -50px;
  width: 328px;
}

.catalog-right-column {
 flex-grow: 1;
}

.services {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.services-list {
  padding-left: 0;
  list-style-type: none;
  width: 280px;
}

.button-info {
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 100%;
  background: #F0F0F0;

}

.about-and-contacts p, .contacts-schedule {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;

}

.about-title {
  margin-top: 0;
  margin-bottom: 26px;
}

.contacts-title {
  margin-top: 0;
  margin-bottom: 26px;
}

.about-list {
  margin-top: 69px;
  margin-bottom: 90px;
}

.about-paragraph {
  margin-bottom: 30px;
}

.contacts-schedule {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 67px;
}

.contacts-subtitle {
  margin-top: 30px;
  margin-bottom: 15px;
}

.contacts-address-text {
  margin-bottom: 0%;
}


p {
  font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #444444;

}

.newsletter {
  margin: 0;
    padding: 0;
    width: 560px;
}

.about-text {
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}

.main-inner {
  padding-top: 40px;
}

.pagination-container {
  display: flex;
  background-color: #EBEBEB;
  margin-bottom: 70px;
  margin-left: 72px;
  margin-top: 50px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 30px;
}

.navigation-logout {
  margin-right: 40px;
}

.navigation-compare {
  margin-right: 14px;
}